<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>원격 진료 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <!-- Graph -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/themes/high-contrast-light.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">원격 진료 시스템</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                        <li class="nav-item"><a class="nav-link" href="">서비스 소개</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="/img/doctor.png" alt="..." />
                <h1 class="text-black fs-3 fw-bolder">의사 <%= doctorName %> 님</h1>
                <p class="text-black-50 mb-0">반갑습니다. 환자의 정보를 확인하고 모니터링 해보세요.</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                    <div class="col-lg-9">
                        <h2 class="title">담당 환자 목록</h2>
                        <p class="lead">담당 환자와의 모니터링을 통해 상태를 확인하세요.</p>
                        
                        <% patientList.forEach(element => { %>
                            <label for="toggle_button<%= element.userIndex %>" class="toggle_button"><h4><%= element.name %></h4></label>
                            <input type="checkbox" id="toggle_button<%= element.userIndex %>">
                            <div id="toggle_contents<%= element.userIndex %>">
                                <% if (element.measurement.heartRate) { %>
                                    <script>
                                        var dateList = '<%= element.measurement.date %>'.split(',');
                                    </script>
                                    <figure class="highcharts-figure">
                                        <div id="graph-container <%= element.name %>"></div>
                                        <script>                 
                                            var colors = Highcharts.getOptions().colors;
                                            var rateList = '<%= element.measurement.heartRate %>'.split(',').map(Number);
                                            
                                            Highcharts.chart('graph-container <%= element.name %>', {
                                                chart: {type: 'spline'},
                                                legend: {symbolWidth: 40},
                                                title: {text: '심박동수'},
                                                subtitle: {text: '최근 5일간의 평균 심박동수 변화'},
                                                yAxis: {
                                                    title: {text: 'BPM'},
                                                    accessibility: {description: 'Percentage usage'}
                                                },
                                                xAxis: {
                                                    categories: dateList
                                                },
                                                tooltip: {valueSuffix: 'BPM'},
                                                series: [{
                                                    name: '<%= element.name %> 님',
                                                    data: rateList,
                                                    color: colors[3]
                                                }]
                                            });
                                        </script>
                                    </figure>
                                    
                                    <figure class="highcharts-figure">
                                        <div id="graph-container2 <%= element.name %>"></div>
                                        <script>
                                            var colors = Highcharts.getOptions().colors;
                                            var rateList2 = '<%= element.measurement.temperature %>'.split(',').map(Number);
                                            Highcharts.chart('graph-container2 <%= element.name %>', {
                                                chart: {type: 'spline'},
                                                legend: {symbolWidth: 40},
                                                title: {text: '체온'},
                                                subtitle: {text: '최근 5일간의 체온 변화'},
                                                yAxis: {
                                                    title: {text: '°C'},
                                                    accessibility: {description: 'Percentage usage'}
                                                },
                                                xAxis: {
                                                    categories: ['날짜 1', '날짜 2', '날짜 3', '날짜 4', '날짜 5']
                                                },
                                                tooltip: {valueSuffix: '°C'},
                                                series: [{
                                                    name: '<%= element.name %> 님',
                                                    data: rateList2,
                                                    color: colors[6]
                                                }]
                                            });
                                        </script>
                                    </figure>
    
                                    <figure class="highcharts-figure">
                                        <div id="graph-container3 <%= element.name %>"></div>
                                        <script>
                                            var colors = Highcharts.getOptions().colors;
                                            var rateList3 = '<%= element.measurement.oxygen %>'.split(',').map(Number);
                                            Highcharts.chart('graph-container3 <%= element.name %>', {
                                                chart: {type: 'spline'},
                                                legend: {symbolWidth: 40},
                                                title: {text: '산소포화도'},
                                                subtitle: {text: '최근 5일간의 혈중 산소포화도 변화'},
                                                yAxis: {
                                                    title: {text: '%'},
                                                    accessibility: {description: 'Percentage usage'}
                                                },
                                                xAxis: {
                                                    categories: ['날짜 1', '날짜 2', '날짜 3', '날짜 4', '날짜 5']
                                                },
                                                tooltip: {valueSuffix: '%'},
                                                series: [{
                                                    name: '<%= element.name %> 님',
                                                    data: rateList3,
                                                    color: colors[8]
                                                }]
                                            });
                                        </script>
                                    </figure>
                                <% } else { %>
                                    <div style="text-align: center">
                                        <br><img src="/img/warning.png" style="width: 40px" /><br><br>
                                        최근 5개 데이터가 필요합니다. <br>
                                        환자에게 센서를 이용하여 심박수, 체온, 산소포화도, 심전도를 측정하도록 하세요. <br><br>
                                    </div>
                                <%} %>

                                <div class="patientMonitor" onclick="patientDetail(<%= element.userIndex %>)"><b><%= element.name %> 환자</b> 모니터링 하러가기</div>
                            </div>
                        <% }); %>
                        
                        <script>
                            patientDetail = (idx) => { location.href=`/doctor/<%=doctorIdx%>?patient=${idx}`; }
                        </script>
                    </div>
            </div>
        </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
