<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MediDoc</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/monitor.css" type="text/css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">MediDoc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="">로그아웃</a></li>
                        <li class="nav-item"><a class="nav-link" href="">서비스 소개</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="py-5">

            <!-- 환자 영상 -->
            <div class="user1Video">
                환자 영상
            </div>

            <!-- 환자 정보 -->
            <div class="monitorData">
                <table class="monitorTable">
                    <tr>
                        <td style="background-color: #ccc">이름</td>
                        <td><%= patientBasicInfo.name %></td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">성별</td>
                        <td><%= patientBasicInfo.sex %></td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">나이</td>
                        <td><%= patientBasicInfo.age %>세</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">키</td>
                        <td><%= patientBasicInfo.height %>cm</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">몸무게</td>
                        <td><%= patientBasicInfo.weight %>kg</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">BMI</td>
                        <td><%= patientBasicInfo.BMI %>kg/m<sup>2</sup></td>
                    </tr>
                </table>
                <table class="monitorTable">
                    <tr>
                        <td style="background-color: #ccc">측정일</td>
                        <td><%= currMeasureInfo.date %></td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">심박동수</td>
                        <td><%= currMeasureInfo.heartRate %>BPM</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">체온</td>
                        <td><%= currMeasureInfo.temperature %>°C</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">산소포화도</td>
                        <td><%= currMeasureInfo.oxygen %>%</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">심전도</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ccc">근전도</td>
                        <td>-</td>
                    </tr>
                </table>
                <div class="getFullData" onclick="fullDataModal(<%= patientBasicInfo.patientIdx %>)">전체 의료 기록 조회하기</div>
            
                 <!-- 녹화 시작 -->
                <div style="text-align: center">
                    <button id="startBtn"  onclick="startRecord()">진료 녹화 시작</button>
                    <button id="stopBtn" style="display:none" onclick="stopScreen()">진료 녹화 종료</button>
                    <button id="saveBtn" style="display:none" onclick="saveStream()">진료 영상 저장</button>
                </div>
                <!-- 녹화 끝 -->
            </div>

            <!-- 의사 영상 -->
            <div class="user2Video">
                의사 영상
            </div>

            <div class="suspectedDisease">
                <div class="exp">의심 증상</div>
                <div class="suspectedArea">
                    <%= calculateInfo.checkBPM %> <br><br>
                    <%= calculateInfo.checkTemp %> <br><br>
                    <%= calculateInfo.checkSpo2 %> <br><br>
                    <%= calculateInfo.checkFat %> <br>
                </div>
            </div>

            <div class="opinion">
                <div class="exp">의사 소견 작성란</div>
                <div class="opinionArea">
                    <form class="writeOpinion">
                        <textarea style="margin-top: 0.5rem; padding: 0.4rem;" cols="76" rows="1" placeholder="처방할 약을 작성해주세요."></textarea>
                        <textarea style="margin-top: 0.5rem; padding: 0.4rem;" cols="76" rows="4" placeholder="전문 소견을 작성해주세요."></textarea>
                        <input type="submit" style="margin-top: 0.5rem; width: 639px">
                     </form>
                </div>                
            </div>
            
        </section>

        <br><br><br><br><br>
        
        <script>
            fullDataModal = (idx) => {
                window.open(`/fullData?patient=${idx}`, "haha", "width=800, height=400");
            }
        </script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- ECT Pulse Graph -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
        <script src="/js/record.js"></script>
    </body>
</html>
