<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>원격 진료 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/canvas.css" type="text/css">
        <link rel="stylesheet" href="/css/monitor.css" type="text/css">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">원격 진료 시스템</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="">로그아웃</a></li>
                        <li class="nav-item"><a class="nav-link" href="">서비스 소개</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">

                <h2 class="title">환자 모니터링</h2>
                <p class="lead">모니터링을 통해 환자의 건강상태를 확인하세요.</p>

                <div class="outer" style="position: relative;">
                    <div class="item user1Video">
                        <img src="https://i.pinimg.com/originals/e6/d2/27/e6d22708bcabc0b47b837a5da9794df0.gif">
                    </div>
                    <div class="inner">
                        <div class="item user2Video">
                            <img src="https://i.pinimg.com/originals/43/3d/83/433d83f7e481f35245f8c6bb7c7591d8.gif">
                        </div>
                    </div>
                </div>

                <div style="width: 30%; float: left;">
                    <table class="patientTable">
                        <tr>
                            <td style="background-color: #ccc">이름</td>
                            <td><%= patientBasicInfo.name %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">성별</td>
                            <td><%= patientBasicInfo.sex %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">나이</td>
                            <td><%= patientBasicInfo.age %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">키</td>
                            <td><%= patientBasicInfo.height %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">몸무게</td>
                            <td><%= patientBasicInfo.weight %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">BMI</td>
                            <td><%= patientBasicInfo.BMI %></td>
                        </tr>
                    </table>
                </div>
                <div style="width: 70%; float: right;">
                    <table class="patientTable">
                        <tr>
                            <td style="background-color: #ccc">심박동수</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">체온</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">산소포화도</td>
                            <td>-</td>
                        </tr>
                    </table>
                </div>

                <!-- <div>
                    <table class="patientTable" style="width: 70%; margin-left: 15%;">
                        <tr>
                            <td colspan = "2" span style = "background-color: #212529; color: white"><%= patientBasicInfo.name %> 환자</td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">성별</td>
                            <td><%= patientBasicInfo.sex %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">나이</td>
                            <td><%= patientBasicInfo.age %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">키</td>
                            <td><%= patientBasicInfo.height %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">몸무게</td>
                            <td><%= patientBasicInfo.weight %></td>
                        </tr>
                        <tr>
                            <td style="background-color: #ccc">BMI</td>
                            <td><%= patientBasicInfo.BMI %></td>
                        </tr>
                    </table>

                    <p class="totalData">전체 기록 조회하기</p>
                </div> -->
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- ECT Pulse Graph -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
    </body>
</html>
