<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MediDoc</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/question.css" type="text/css">
    </head>
    <body>
        <div class="backToList"><a href="/question"> 목록으로 </a></div>
        <div class="question">
            <div class="qTitle">
                <div class="qTitleName"><%= questionDetail.title %></div>
                <div class="qInfo">
                    <span> <b>작성자</b> <%= patientName %> </span>
                    <span> <b>작성일</b> <%= questionDetail.createdAt %> </span>
                    <span> <b>수정일</b> <%= questionDetail.updatedAt %> </span>
                    <span class="qBtn" id="delete"> 삭제 </span>
                    <span class="qBtn" id="modify"> 수정 </span>
                </div>
            </div>            
            <div class="qContent"><%= questionDetail.content %></div>
        </div>

        <% if (questionDetail.status === 'clear') { %>
            <div class="answer">
                <div class="aTitle">
                    <div class="aTitleName">
                        <img src="/img/reply.png" style="width: 25px" />
                        <%= answer.title %></div>
                    <div class="aInfo">
                        <span><b> 작성자 </b> <%= answer.name %> </span>
                        <span><b> 작성일 </b> <%= answer.createdAt %> </span>
                        <span><b> 수정일 </b> <%= answer.updatedAt %> </span>
                    </div>
                </div>            
                <div class="aContent"><%= answer.content %></div>
                <div class="replyText">댓글 <%= replyList.length; %></div>
                <div class="reply">
                    <% replyList.forEach(element => { %>
                        <div class="replyElement">
                            <span> └ </span>
                            <span><b> <%= element.name %> </b></span>
                            <span> <%= element.content %> </span>
                        </div>
                    <% }) %>
                </div>
                <form class="writeComment">
                    <br><b> <%= patientName %> </b></br>
                    <textarea style="margin-top: 0.3rem; padding: 0.2rem; font-size: 0.9rem;" cols="85" rows="2" placeholder="댓글"></textarea>
                </form>
            </div>
        <% } %>
        
    </body>
</html>